.p-datatable-tbody tr {
  border-top: 1px solid #e5e7eb;
}

.p-card-body {
  padding: 15px 8px;
  background-color: transparent;
}

.p-card-footer {
  background-color: transparent;
}

.p-card-title {
  background-color: transparent;
}

.p-card-header {
  background-color: transparent;
}
