@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  max-width: none;
}

div {
  background-color: white;
}

@layer base {
  :root {
    --viola: 197, 143, 182;
    --tacao: 246, 176, 111;
    --light-sea-green: 18, 157, 165;
    --iris-blue: 17, 195, 204;
    --cyan-500: 11, 193, 189;
    --east-side: 177, 143, 197;
    --maya-blue: 111, 192, 246;
    --teal-900: 8, 70, 73;

    /* ... */
  }
}
@font-face {
  font-family: 'Heebo';
  src: url('./assets/font/Heebo-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('./assets/font/BricolageGrotesque-Variable.ttf');
}

input[type='checkbox'] {
  --tw-ring-shadow: 0 0 #000 !important;
}

::-webkit-scrollbar-thumb {
  background-color: #129ba3;
  border-radius: 6px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 6px;
}

input {
  --tw-ring-shadow: 0 0 #000 !important;
  --tw-ring-color: white;
  outline: none;
}

::placeholder {
  font-style: italic !important;
  font-weight: 600 !important;
  color: rgba(8, 145, 178, 0.6) !important;
}

.p-focus {
  box-shadow: none;
}
